<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand pull-left" href="#">New Constructs</a>
    {% if not dont_show_upload %}
        <a class="btn btn-outline-danger pull-left" href="/upload/" role="button">Upload</a>
    {% endif %}

    {% if nav_menu %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Ticker
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for ticker in nav_menu.keys() %}
                            <li><a class="dropdown-item dropdown-toggle" href="#">{{ ticker }}</a>
                                <ul class="dropdown-menu">
                                    {% for acc in nav_menu[ticker] %}
                                        <li><a class="dropdown-item dropdown-toggle" href="#">{{ acc }}</a>
                                            <ul class="dropdown-menu">
                                                {% for cat in nav_menu[ticker][acc] %}
                                                    <li><a class="dropdown-item" href="/{{ ticker }}/{{ acc }}/{{ cat }}/">{{ cat }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>

        <a class="navbar-brand pull-right" href="#">{{ ticker }} - {{ accession_number }} - {{ data_key_friendly_name }}</a>
    {% endif %}
</nav>