html, body {
    width: 100%;
    height: 100%;
}

nav {
    margin-bottom: 4em;
}

p {
    margin: 15px 0;
}

.legend {
    margin: auto;
    width: 100%;
    text-align: center;
}
.legend p {
    font-weight: bold;
    width: 100%;
    margin: auto;
}

.sidebar {
    padding: 15px;
    border: 2px solid gray;
    border-radius: 2px;
    background-color: #2E3338;
}

.sidebar-wrapper {
    text-align: center;
}
.sidebar-wrapper .row {
    display: inline-block;
    background-color: white;
    width: 100%;
}

.main {
    margin: 0 1em 1em 1em;
    padding: 1em 2em;
    border: 2px solid gray;
    border-radius: 2px;
    background-color: #2E3338;
}
.main div {
    background-color: white;
}
.context-buttons {
    padding: 15px;
}

.group-one, .group-two, .group-three {
    font-weight: bold;
}

.group-one {
    background-color: rgba(0, 91, 255, 0.4);
}
.group-two {
    background-color: rgba(255, 105, 180, 0.4);
}
.group-three {
    background-color: rgba(124, 252, 0, 0.4);
}

.highlight {
    background-color: yellow;
}

.highlight .group-one {
    background-color: rgb(165, 200, 255);
}
.highlight .group-two {
    background-color: rgb(245, 165, 160);
}
.highlight .group-three {
    background-color: rgb(174, 252, 100)
}

table {
    margin-top: 1em;
    height: 15px;
}
.main td {
    width: 15px;
    font-size: 14px;
    line-height: 0;
    text-align: center;
    background-color: red !important;
    border-radius: 5px;
}
td:hover {
    cursor: pointer;
}

.ticker-choice:hover {
    cursor: pointer;
}

.html-upload {
    margin: 1em;
    border: 2px solid gray;
    padding: 1em;
}
.html-upload-title {
    margin: 1em;
}