{% extends 'index.html' %}
{% block body %}
<body>
    <div class="container">
        <!-- Static navbar -->
        {% include 'navbar/navbar.html' %}

        <div class="row">
            <h2>Please choose a accession number:</h2>
            <div class="col-md-10 offset-md-1">
                {% for group in accession_numbers | batch(3, fill_with=None) %}
                {% set parentloop = loop %}
                    <div class="row">
                        {% for acc in group %}
                            <div class="col-md-4">
                                <p class="lead"><a class="ticker-choice" href="/{{ ticker }}/{{ acc }}/">{{ acc }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% include 'body/scripts.html' %}
</body>
{% endblock %}